<h2>{{block.label}}</h2>

{{#if block.repeat}}
  {{#each value as |item index|}}
    <div class="entry">
      {{#each block.children as |child|}}
        {{component (concat "block-" child.type) block=child value=(get item child.key) onChange=(action "updateItem" index child.key)}}
      {{/each}}
      
      <div class="remove">
        <button {{action "removeItem" index}}>Remove</button>
      </div>
    </div>
  {{/each}}

  <div class="add">
    <button {{action "addItem"}}>Add Another</button>
  </div>
{{else}}
  {{#each block.children as |child|}}
    {{component (concat "block-" child.type) block=child value=(get value child.key) onChange=(action "updateValue" child.key)}}
  {{/each}}
{{/if}}
