<label>{{block.label}}</label>
<div class="upload">
  {{#if value}}
    {{value.name}} <button {{action "clear"}}>Clear</button>
  {{else if progress}}
    Uploading… ({{progress.loaded}}/{{progress.total}})
  {{else}}
    <button>Choose File…</button>
    <input type="file" onchange={{action "select" value="target.files"}}>
  {{/if}}
</div>
