<label>{{block.label}}</label>
<div class="upload">
  {{#if value}}
    {{value.name}}
    <button {{action "clear"}}>Clear</button>
  {{else}}
    <button>Choose File…</button>
    {{file-input select="select"}}
  {{/if}}
</div>