<h2>{{entry.block.label}}</h2>

{{#if entry.block.repeat}}
  {{#each entry.value as |item|}}
    <div class="item">
      {{object-entry entry=item}}
    
      <div class="remove">
        <button {{action "remove" item}}>Remove</button>
      </div>
    </div>
  {{/each}}
  
  <div class="add">
    <button {{action "add"}}>Add Another</button>
  </div>
{{else}}
  {{object-entry entry=entry}}
{{/if}}
