<fieldset>
  <legend>{{model.title}}</legend>
  
  {{#if model.repeat}}
    {{#each entries as |entry|}}
      <fieldset class="entry">
        {{#each model.children as |child|}}
          {{#if child.type}}
            {{component (concat "form-block-" child.type) model=child entry=entry}}
          {{/if}}
        {{/each}}
        <p class="remove"><button {{action "remove" entry}}>Remove</button></p>
      </fieldset>
    {{/each}}

    {{#if entries}}
      <p class="add"><button {{action "add"}}>Add</button></p>
    {{/if}}
  {{else}}
    {{#each model.children as |child|}}
      {{#if child.type}}
        {{component (concat "form-block-" child.type) model=child entry=entry}}
      {{/if}}
    {{/each}}
  {{/if}}
</fieldset>
