<h2>{{model.label}}</h2>

{{#if model.repeat}}
  {{#each (get entry model.key) as |entry|}}
    <div class="entry">
      {{#each model.children as |child|}}
        {{component (concat "form-block-" child.type) model=child entry=(mut entry)}}
      {{/each}}
      <div class="remove">
        <button {{action "remove" entry}}>Remove</button>
      </div>
    </div>
  {{/each}}

  <div class="add">
    <button {{action "add"}}>Add Another</button>
  </div>
{{else}}
  {{#each model.children as |child|}}
    {{#if child.type}}
      {{component (concat "form-block-" child.type) model=child entry=(mut (get entry model.key))}}
    {{/if}}
  {{/each}}
{{/if}}
