<fieldset>
  <legend>{{model.title}}</legend>
  
  {{#if model.repeat}}
    {{#each (get entry model.id) as |entry|}}
      <fieldset class="entry">
        {{#each model.children as |child|}}
          {{component (concat "form-block-" child.type) model=child entry=(mut entry)}}
        {{/each}}
        <p class="remove"><button {{action "remove" entry}}>Remove</button></p>
      </fieldset>
    {{/each}}

    <p class="add"><button {{action "add"}}>Add</button></p>
  {{else}}
    {{#each model.children as |child|}}
      {{#if child.type}}
        {{component (concat "form-block-" child.type) model=child entry=(mut (get entry model.id))}}
      {{/if}}
    {{/each}}
  {{/if}}
</fieldset>
