<div id="menu">
  <div class="back">
    {{link-to "← Forms" "forms"}}
  </div>
  
  <div class="actions">
    <a href="javascript:void(0)" {{action "deposit"}}>Deposit</a>
    <a href="javascript:void(0)" {{action "reset"}}>Reset</a>
    <a href="javascript:void(0)" {{action "validate"}}>Validate</a>
    <a href="javascript:void(0)" {{action "dump"}}>Dump</a>
  </div>
</div>

<div id="form">
  <h1>{{form.title}}</h1>
  <p>{{form.description}}</p>
  
  {{object-entry entry=model}}
</div>
