{{#if model.form.contact}}
  {{#if model.result.success}}
    <span class="contact-description">If you have any questions, please contact <a href="mailto:{{model.form.contact.email}}">{{model.form.contact.name}}</a>.</span>
  {{else}}
    <span>If the problem persists or you have any questions, please contact <a href="mailto:{{model.form.contact.email}}">{{model.form.contact.name}}</a>.</span>
  {{/if}}
{{else}}
  {{#if model.result.success}}
    <span class="contact-description">If you have any questions, please <a href="http://blogs.lib.unc.edu/cdr/index.php/contact-us/">contact us</a>.</span>
  {{else}}
    <span>If the problem persists or you have any questions, please <a href="http://blogs.lib.unc.edu/cdr/index.php/contact-us/">contact us</a>.</span>
  {{/if}}
{{/if}}
