{{#if model.debug}}
  <div id="debug">
    <button {{action "reset"}}>Reset form</button>
    <button {{action "validate"}}>Validate form</button>
    <button {{action "dump"}}>Dump input to console</button>
    <button {{action "debugDeposit"}}>Dump METS to console</button>
  </div>
{{/if}}

<div id="form" class={{if model.entry.hasInvalidEntries "invalid" ""}}>
  <p class="description">{{sanitize-html model.form.description}}</p>
  
  <p class="required-fields-description">Fields marked with <span class="required-example">*</span> are required.<span>{{partial "deposit/contact"}}</span></p>
  
  {{object-entry entry=model.entry}}
  
  <p class="submit" {{action "deposit"}}>
    <button disabled={{if uploads.anyLoading "disabled" ""}}>Submit Deposit</button>
  </p>
</div>