<div id="form" class={{if model.entry.hasInvalidEntries "invalid" ""}}>
  <p>{{sanitize-html model.form.description}}</p>
  <p>Fields marked with <span class="required-example">*</span> are required.</p>
  
  {{object-entry entry=model.entry}}
  
  <p class="submit" {{action "deposit"}}>
    <button disabled={{if uploads.anyLoading "disabled" ""}}>Submit Deposit</button>
  </p>
</div>
