<div id="debug">
  {{link-to "Back to list of forms" "forms"}}
  <button {{action "deposit"}}>Deposit</button>
  <button {{action "reset"}}>Reset</button>
  <button {{action "validate"}}>Validate</button>
  <button {{action "dump"}}>Dump</button>
</div>

<div id="form">
  <h1>{{form.title}}</h1>
  <p>{{sanitize-html form.description}}</p>
  <p>Fields marked with <span class="required-example">*</span> are required.</p>
  
  {{object-entry entry=model}}
  
  <p class="submit" {{action "deposit"}}>
    <button disabled={{if uploads.anyLoading "disabled" ""}}>Submit Deposit</button>
  </p>
</div>
