<label for={{object-guid entry}}>{{entry.block.label}}</label>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

<ul class="tagit">
  {{#each entry.block.defaultValue as |tag|}}
    <li>{{tag}}</li>
  {{/each}}
</ul>

{{entry-error-messages entry=entry}}
