<label for={{object-guid entry}}>{{entry.block.label}}</label>

<select onchange={{action "change" value="target.value"}} id={{object-guid entry}}>
  {{#if entry.block.allowBlank}}
    <option selected={{unless entry.value "selected" ""}} value=""></option>
  {{/if}}
  {{#each entry.block.options as |option|}}
    {{#if option.value}}
      <option selected={{if (eq entry.value option.value) "selected" ""}} value={{option.value}}>{{gsub-nbsp option.label}}</option>
    {{else}}
      <option selected={{if (eq entry.value option) "selected" ""}}>{{gsub-nbsp option}}</option>
    {{/if}}
  {{/each}}
</select>

{{entry-error-messages entry=entry}}
