<label>{{entry.block.label}}</label>

{{#each entry.block.options as |option|}}
  {{#if option.value}}
    {{check-box value=option.value groupValue=entry.value}} {{option.label}}
  {{else}}
    {{check-box value=option groupValue=entry.value}} {{option}}
  {{/if}}
{{/each}}

{{entry-error-messages entry=entry}}
