<h2>{{entry.block.label}}</h2>

<table>
  {{#each entry.block.options as |option index|}}
    <tr>
      {{#if option.value}}
        <td>{{radio-button value=option.value groupValue=entry.value id=(concat (object-guid entry) "-" index)}}</td>
        <td><label for={{concat (object-guid entry) "-" index}}>{{option.label}}</label></td>
      {{else}}
        <td>{{radio-button value=option groupValue=entry.value id=(concat (object-guid entry) "-" index)}}</td>
        <td><label for={{concat (object-guid entry) "-" index}}>{{option}}</label></td>
      {{/if}}
    </tr>
  {{/each}}
  {{#if entry.block.allowBlank}}
    <tr class="blank">
      <td>{{radio-button value="" groupValue=entry.value id=(concat (object-guid entry) "-blank")}}</td>
      <td><label for={{concat (object-guid entry) "-blank"}}>No response</label></td>
    </tr>
  {{/if}}
</table>

{{entry-error-messages entry=entry}}
