<label for={{object-guid entry}}>{{entry.block.label}}</label>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

{{#if (eq entry.block.size "paragraph")}}
  {{textarea value=entry.value type="text" class="autocomplete" placeholder=entry.block.placeholder cols=80 rows=5 id=(object-guid entry)}}
{{else}}
  {{input value=entry.value type="text" class="autocomplete" placeholder=entry.block.placeholder id=(object-guid entry)}}
{{/if}}

{{entry-error-messages entry=entry}}
