<label>{{entry.block.label}}</label>

{{#each entry.block.options as |option|}}
  {{#if option.value}}
    {{radio-button value=option.value groupValue=entry.value}} {{option.label}}
  {{else}}
    {{radio-button value=option groupValue=entry.value}} {{option}}
  {{/if}}
{{/each}}
{{#if entry.block.allowBlank}}
  {{radio-button value="" groupValue=entry.value}} <i>No response</i>
{{/if}}

{{entry-error-messages entry=entry}}
