<h2>{{entry.block.name}}</h2>

<table>
  <tr>
    <td>{{input type="checkbox" checked=entry.value id=(object-guid entry)}}</td>
    <td><label for={{object-guid entry}}>{{entry.block.prompt}}</label></td>
  </tr>
</table>

<ul class="errors">
  {{#if entry.invalid}}
    <li>You must agree to the {{entry.block.name}}.</li>
  {{/if}}
</ul>
