<label>{{entry.block.label}}</label>

<select onchange={{action "change" value="target.value"}}>
  {{#each entry.block.options as |option|}}
    {{#if option.value}}
      <option selected={{if (eq entry.value option.value) "selected" ""}} value={{option.value}}>{{option.label}}</option>
    {{else}}
      <option selected={{if (eq entry.value option) "selected" ""}}>{{option}}</option>
    {{/if}}
  {{/each}}
</select>

{{entry-error-messages entry=entry}}
