<h2>{{entry.block.label}}</h2>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

{{#each entry.block.options as |option index|}}
  {{#if option.value}}
    <label>
      {{radio-button value=option.value groupValue=entry.value name=(object-guid entry)}}
      {{option.label}}
    </label>
  {{else}}
    <label>
      {{radio-button value=option groupValue=entry.value name=(object-guid entry)}}
      {{option}}
    </label>
  {{/if}}
{{/each}}

{{entry-error-messages entry=entry}}
