<select onchange={{action "setMonth" value="target.value"}} class="month" aria-label="Month">
  <option value="" selected={{if (eq month "") "selected" ""}}></option>
  <option value="01" selected={{if (eq month "01") "selected" ""}}>January</option>
  <option value="02" selected={{if (eq month "02") "selected" ""}}>February</option>
  <option value="03" selected={{if (eq month "03") "selected" ""}}>March</option>
  <option value="04" selected={{if (eq month "04") "selected" ""}}>April</option>
  <option value="05" selected={{if (eq month "05") "selected" ""}}>May</option>
  <option value="06" selected={{if (eq month "06") "selected" ""}}>June</option>
  <option value="07" selected={{if (eq month "07") "selected" ""}}>July</option>
  <option value="08" selected={{if (eq month "08") "selected" ""}}>August</option>
  <option value="09" selected={{if (eq month "09") "selected" ""}}>September</option>
  <option value="10" selected={{if (eq month "10") "selected" ""}}>October</option>
  <option value="11" selected={{if (eq month "11") "selected" ""}}>November</option>
  <option value="12" selected={{if (eq month "12") "selected" ""}}>December</option>
</select>
<input class="year" type="text" onchange={{action "setYear" value="target.value"}} value={{year}} placeholder="YYYY" aria-label="Year">
