<h2>{{entry.block.label}}</h2>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

{{#if entry.block.repeat}}
  {{#each entry.value as |item|}}
    <div class="item">
      {{object-entry entry=item}}

        {{#if entry.value}}
        <div class="add">
                <button class="plus" {{action "add"}}><i class="fa fa-plus-square-o"></i><span class="toggle-label">Add</span></button>
            </div>
        <div class="remove">
                <button class="minus"{{action "remove" item}}><i class="fa fa-minus-square-o"></i><span class="toggle-label">Remove</span></button>
            </div>
        {{/if}}
    </div>
  {{/each}}
{{else}}
  {{object-entry entry=entry}}
{{/if}}