<label for={{object-guid entry}}>{{entry.block.label}}</label>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

{{#each uploads as |upload|}}

  {{#if upload.response}}
    <div class="upload complete">
      <div class="description">
        <div class="main">{{upload.response.name}}</div>
        <div class="detail">{{format-size upload.response.size}} {{upload.response.type}}</div>
      </div>

      <button {{action "remove" upload}}>Remove</button>
    </div>
  {{else if upload.loading}}
    <div class="upload loading">
      {{progress-bar fraction=upload.progress.fraction}}

      <div class="description">
        <div class="main">Uploading <b>{{upload.name}}</b>…</div>
        <div class="detail">{{format-size upload.progress.loaded}} of {{format-size upload.progress.total}}</div>
      </div>

      <button {{action "cancel" upload}}>Cancel</button>
    </div>
  {{else if upload.error}}
    <div class="upload error">
      <div class="description">
        <div class="main">An error occurred while uploading <b>{{upload.name}}</b>.</div>
      </div>

      <button {{action "retry" upload}}>Try Again</button>

      {{#if isMultiple}}
        <button {{action "remove" upload}}>Remove</button>
      {{else}}
        <div class="choose-file-wrapper">
          <input type="file" onchange={{action "choose" value="target.files"}}>
          Choose Another File…
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/each}}

{{#if acceptsNewUpload}}
  <div class="new-upload">
    <div class="choose-file-wrapper">
      <input type="file" onchange={{action "choose" value="target.files"}} onfocus={{action "focusInput"}} onblur={{action "blurInput"}} multiple={{if isMultiple "multiple" ""}} id={{object-guid entry}}>
      {{#if isMultiple}}
        Choose Files…
      {{else}}
        Choose File…
      {{/if}}
    </div>
  </div>
{{/if}}

{{entry-error-messages entry=entry}}
