<label for={{object-guid entry}}>{{entry.block.label}}</label>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

<select onchange={{action "change" value="target.value"}} id={{object-guid entry}}>
  {{#if entry.block.allowBlank}}
    <option selected={{unless entry.value "selected" ""}} value=""></option>
  {{/if}}
  {{#each entry.block.options as |option|}}
    <option selected={{if (eq entry.value option.value) "selected" ""}} value={{option.value}}>
      {{gsub-nbsp option.label}}
      {{#if option.note}}&mdash; {{sanitize-html option.note}}{{/if}}
    </option>
  {{/each}}
</select>

{{entry-error-messages entry=entry}}
