<div id="debug">
  
  <div id="form">
    
    <h1>{{model.title}}</h1>
    <p>{{model.description}}</p>

    {{#each model.blocks as |block|}}
      {{#if block.type}}
        {{component (concat "form-block-" block.type) model=block entry=(mut entry)}}
      {{/if}}
    {{/each}}

    <p class="submit">
      <button {{action "dump"}}>Submit</button>
    </p>

  </div>
  
  <div id="dump">
    {{dump}}
  </div>
  
</div>
