<div id="debug">
  
  <div id="form">
    
    <h1>{{model.title}}</h1>
    <p>{{model.description}}</p>

    {{#each model.blocks as |block|}}
      {{#if block.type}}
        {{component (concat "form-block-" block.type) model=block entry=(mut entry)}}
      {{/if}}
    {{/each}}

    <p class="submit">
      <button {{action "dump"}}>Submit</button>
    </p>

  </div>
  
  <div id="dump">
    <h1>Form data</h1>
    <p>{{json}}</p>
    
    <h1>Files</h1>
    <ul>
      {{#each files as |file|}}
        <li>{{file.name}} ({{file.size}} bytes, {{file.type}})</li>
      {{/each}}
    </ul>
    
    <h1>Metadata</h1>
    <dl>
      {{#each dump as |item|}}
        {{#if item.file}}
          <dt>{{item.file.name}}</dt>
        {{else}}
          <dt class="deposit">Deposit</dt>
        {{/if}}
        <dd>{{item.metadata}}</dd>
      {{/each}}
    </dl>
  </div>
  
</div>
